@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

:root {
  --color: #1c4980;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
  font-size: 13px !important;
  font-family: 'Montserrat', Arial, sans-serif !important;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-feature-settings: 'tnum', 'tnum';
}

.ant-table-small {
  font-size: 13px !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.trigger {
  /* padding: 0 24px; */
  font-size: 18px;
  line-height: 72px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  z-index: 1;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.site-layout-background {
  padding: 0 20px;
}

.ant-card {
  margin-bottom: 25px;
  -webkit-box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  position: relative;
  padding: 0px;
  -webkit-border-radius: 0.428rem;
  -moz-border-radius: 0.428rem;
  border-radius: 0.428rem;
  transition: all 0.3s ease-in-out, background 0s, color 0s, border-color 0s;
}

.ant-card-body {
  padding: 10px;
}

.login-container {
  height: 100vh !important;
}

.ant-card-body {
  padding: '10px';
}

.login-form {
  width: 100%;
  height: 50%;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

.quiz-card-img {
  padding: 7px;
  border-radius: 0.728rem !important;
  height: 200px;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}

.quiz-card-items-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
}

.countdown-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.time-section {
  padding: 0px 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #254864 !important;
}

.time {
  margin: -3px;
  font-size: 20px !important;
  font-weight: 500 !important;
}

.ant-page-header-content {
  padding: 0px !important;
}

.time-text {
  color: rgb(156 163 175 / 1) !important;
}

.quiz-panel-pageheader {
  padding: 0px 15px !important;
  margin-bottom: 0px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.quiz-panel-indextags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 210px;
  overflow: auto;
  margin-top: 10px;
}

.quiz-panel-indextags {
  height: 30px;
  width: 30px;
  border-radius: 25%;
  margin: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}

.quiz-panel-submit-btn {
  position: absolute;
  bottom: 10px;
  right: 7px !important;
  width: 95% !important;
  align-self: center !important;
}

.quiz-panel-status-badge {
  height: 23px;
  width: 23px;
  margin-top: 3px;
  border-radius: 6px;
}

.quiz-panel-status-badges-item-container {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.quiz-panel-status-badges-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  border-bottom: 1px solid #ddd;
}

.quiz-panel-sidebar-total-questions {
  margin: 0px auto;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.quiz-panel-rule-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-panel-countdown-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rules-panel-list {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 6px;
  color: #1c4980;
  font-weight: 500;
}

.feat {
  display: flex;
  background: #243036;
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  margin: -1px 0;
  width: 28px;
  border-radius: 3px 0 0 3px;
  align-items: center;
}

.feat-child {
  transform: rotate(-90deg);
  display: block;
  white-space: nowrap;
  margin-left: -25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8125rem;
  color: #fff;
  font-weight: 500;
}

.devfolio-social-links {
  padding: 12px;
  margin: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: none;
  border-radius: 24px;
  background-color: rgb(240, 244, 255);
  cursor: pointer;
  outline: none;
}

.unstop-rounds-container {
  position: relative;
  z-index: 0;
}

.unstop-rounds-container::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 5px solid #186edf;
  left: 4px;
  border-color: inherit;
  opacity: 0.3;
  z-index: -5;
}

.unstop-round-list {
  padding-left: 45px;
  position: relative;
}

.unstop-details-container ul {
  border-left: 2px dashed rgba(39, 73, 125, 0.2);
  margin: 0 0 25px 15px;
  padding: 0 0 0 20px;
}

.unstop-details-container ul li {
  position: relative;
  list-style-type: none;
  margin-bottom: 7px;
  word-break: break-word;
  line-height: 24px;
}

.unstop-details-container li::before {
  border: 2px solid rgba(39, 73, 125, 0.24);
  height: 20px;
  width: 20px;
  border: 2px solid #c6c5c5;
  background: #fff;
  left: -31px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.unstop-details-container li::after {
  background: rgba(39, 73, 125, 0.5);
  height: 8px;
  width: 8px;
  background: #c6c5c5;
  left: -25px;
  top: 0;
  bottom: 0;
  content: '';
  border-radius: 50%;
  position: absolute;
  margin: auto;
}

.unstop-details-container {
  margin-bottom: -20px;
  padding-left: 28px;
  margin-left: 4px;
  margin-top: -20px;
  padding-top: 25px;
  position: relative;
  color: #1c4980;
  font-size: 15px;
}

.unstop-details-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  border-left: 3px dashed #0073e6;
  border-color: inherit;
  opacity: 0.35;
}

.slick-dots {
  transform: translateY(1em) !important;
}
.slick-dots li button {
  transition: 0.2s !important;
  background: #0073e6 !important;
}

.slick-arrow {
  background-color: cyan !important;
  color: white !important;
}

.opportunity-tags-first:hover {
  overflow-x: scroll !important;
  transition: all 0.5s ease-in-out;
}

.quiz-panel-choices > p {
  margin: 0 !important;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.conic {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.conic::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(transparent, var(--color), transparent 50%);
  -webkit-animation: rotate 4s linear infinite;
  animation: rotate 4s linear infinite;
}
.conic::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: #fff;
  border-radius: 5px;
}

.quiz-panel-option-selected {
  background-color: #0073e6 !important;
  color: #fff !important;
}

.quiz-panel-option-card:hover {
  cursor: pointer;
  background-color: #0073e6 !important;
  color: #fff !important;
  transition: all 0.3s ease-in-out;
}

.quiz-panel-indextags-current {
  background-color: #142439 !important;
  color: #fff !important;
}

.quiz-panel-indextags-review {
  background-color: #666 !important;
  color: #fff !important;
}

.quiz-panel-indextags-completed {
  background-color: #0cb66e !important;
  color: #fff !important;
}
